*{
    margin: 0;
    padding: 0;
}
.App{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 100vh;
    color: white;
}
.Header{
    background-color: rgb(33, 21, 96);
    color: white;
    padding: 10px;
}
.movie{
    border: 2px solid rgb(249, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    text-align: start;
    width: 20%;
}
.movie img{
    width: 100%;
    height: 350px;
}
.Main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}